In [2]:
import numpy as np

In [3]:
import pandas as pd 
import seaborn as sns

In [4]:
df = pd.read_csv('dirty_cafe_sales.csv')
df_copy = df.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [7]:
df_copy.isnull().sum() / len(df_copy) *100

Transaction ID       0.00
Item                 3.33
Quantity             1.38
Price Per Unit       1.79
Total Spent          1.73
Payment Method      25.79
Location            32.65
Transaction Date     1.59
dtype: float64

In [8]:
df_copy['Item'].fillna(df_copy['Item'].mode()[0], inplace= True)

C:\Users\Helal-Store\AppData\Local\Temp\ipykernel_10840\576657675.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['Item'].fillna(df_copy['Item'].mode()[0], inplace= True)

In [9]:
df_copy

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Juice,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [10]:
print(df_copy['Quantity'].dtype)

object

In [11]:
df_copy['Quantity'] =  df_copy['Quantity'].astype(str).str.strip()

In [12]:
df_copy['Quantity'] = pd.to_numeric(df_copy['Quantity'], errors='coerce')

In [13]:
df_copy['Quantity'].fillna(df_copy['Quantity'].median(), inplace= True)

C:\Users\Helal-Store\AppData\Local\Temp\ipykernel_10840\3883284817.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['Quantity'].fillna(df_copy['Quantity'].median(), inplace= True)

In [14]:
df_copy['Quantity']= df_copy['Quantity'].astype(int)

In [15]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB

In [16]:
df_copy['Quantity'] = pd.to_numeric(df_copy['Quantity'],errors='coerce')

In [17]:

df_copy['Quantity'] = df_copy['Quantity'].astype(float)

In [18]:
df_copy['Price Per Unit'] = pd.to_numeric(df_copy['Price Per Unit'],errors='coerce')
df_copy['Price Per Unit'] = df_copy['Price Per Unit'].astype(float)

In [19]:
df_copy['Total Spent'] = pd.to_numeric(df_copy['Total Spent'], errors='coerce')
df_copy['Total Spent']= df_copy['Total Spent'].astype(float)

In [20]:
df_copy['Transaction Date'] = pd.to_datetime(df_copy['Transaction Date'],errors='coerce')

In [21]:
df_copy['Transaction Date'].fillna(df_copy['Transaction Date'].mode()[0], inplace=True)

C:\Users\Helal-Store\AppData\Local\Temp\ipykernel_10840\2584612835.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['Transaction Date'].fillna(df_copy['Transaction Date'].mode()[0], inplace=True)

In [22]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [23]:
df_copy['Price Per Unit'].fillna(df_copy['Price Per Unit'].median(),inplace=True)

C:\Users\Helal-Store\AppData\Local\Temp\ipykernel_10840\1878267964.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['Price Per Unit'].fillna(df_copy['Price Per Unit'].median(),inplace=True)

In [24]:
df_copy['Total Spent'] = df_copy['Quantity'] * df_copy['Price Per Unit']

In [25]:
df_copy['Payment Method'].fillna('Unknown',inplace=True)

C:\Users\Helal-Store\AppData\Local\Temp\ipykernel_10840\1005621756.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['Payment Method'].fillna('Unknown',inplace=True)

In [26]:
df_copy['Location'].fillna('Unknown', inplace=True)

C:\Users\Helal-Store\AppData\Local\Temp\ipykernel_10840\2973679096.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['Location'].fillna('Unknown', inplace=True)

In [27]:
print(df_copy.isnull().mean() * 100)

Transaction ID      0.0
Item                0.0
Quantity            0.0
Price Per Unit      0.0
Total Spent         0.0
Payment Method      0.0
Location            0.0
Transaction Date    0.0
dtype: float64

In [28]:
df_copy.to_excel('cleaned_dataset.xlsx', index=False)

In [29]:
df_copy['Year'] = df_copy['Transaction Date'].dt.year

In [30]:
df_copy['Month'] = df_copy['Transaction Date'].dt.month

In [31]:
df_copy['Day'] = df_copy['Transaction Date'].dt.day

In [32]:
df_copy['Month_Name'] = df_copy['Transaction Date'].dt.strftime('%B')

In [33]:
def categorize_spender (value):
    if value >= 500:
        return 'High'
    elif value >= 200:
        return 'Medium'
    else:
        return 'Low'
    
df_copy['Revenue Category'] = df_copy['Total Spent'].apply(categorize_spender)

In [34]:
df_copy.to_csv('cleaned_dataset_ready.csv', index=False)

In [35]:
df_copy['Total Spent'].mean()

np.float64(8.94815)

In [36]:
df_copy['Total Spent'].median()

np.float64(8.0)

In [37]:
df_copy['Total Spent'].mode()

0    12.0
Name: Total Spent, dtype: float64

In [38]:
def categorize_revenue(value):
    if value < 5:
        return 'Low'
    elif 5 <= value < 10:
        return 'Medium'
    else:
        return 'High'

df_copy['Revenue Category'] = df_copy['Total Spent'].apply(categorize_revenue)

In [39]:
df_copy.to_excel('ready_data.xlsx', index=False)